* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.btn {
	border: none;
	text-transform: uppercase;
	width: 400px;
	font-size: 30px;
	padding: 30px;
	font-family: "montserrat", sans-serif;
	border-radius: 10px;
	cursor: pointer;
	background-image: linear-gradient(to left, #30cfd0,#330867,#30cfd0);
	color: white;
	background-size: 200%;
	transition: 0.5s;
}
.btn:hover {
	background-position: right;
}