* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(19, 137, 185);
}

.box {
    display: flex;
    background-color: white;
    border-radius: .25rem;
    height: 50px;
    box-shadow: 1px 2px 6px rgba(0,0,0,.2);
}

.box__input {
    width: 0;
    transition: width .3s;
    border: none;
    background-color: white;
}

.box__input--width {
    width: 200px;
    margin-left: .5rem;
    color: rgb(97, 97, 97);
    padding: .25rem .75rem;
    font-size: 18px;
    outline: none;
    border-left: 2px solid rgb(19, 137, 185);
    border-radius: 0 .25rem .25rem 0;
}

.box__button {
    position: relative;
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    color: rgb(14, 89, 119);
}

.button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .1s;
    font-size: 20px;
}

.button__text {
    font-size: 18px;
    text-transform: uppercase;
    transition: opacity .1s;
}

.button__text--invisible {
    opacity: 0;
}

.button__icon--show {
    opacity: 1;
}